@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, img {
    font-family: "Montserreat", sans-serif;
    font-weight: 500;
    font-size: 34px;
    color: #edf0f1;
    text-decoration: none;
    background-color: #24252A;
}

.homeside {
    display: grid;
    place-content: center;
    height: auto;
    overflow: hidden;
}


.upperspace {
    height: 3in;
}

.welcome {
    font-family: "Lobster", cursive;
    color: plum;
    font-size: 128px;
    text-align: center;
}

.greetings {
    font-family: "Montserreat", sans-serif;
    font-size: 24px;
    text-align: center;
}

header {
    background-color: #24252A; 
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    max-width: 20%;
    max-height: 10%;
    background-color: #24252A;
}

.nav__links {
    list-style-type: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: plum;
}